# This is a basic workflow to help you get started with Actions

name: workflow_call

on:
  workflow_call:
    inputs:
      org:
        required: true
        type: string
      project_no:
        required: true
        type: number
      target_slack_channel_url_pattern:
        required: true
        type: string
    secrets:
      pat:
        required: true
      slack_app_secret:
        required: true
  workflow_dispatch:

jobs:
  delegate_issue_opened:
    if: github.event_name == 'issues' && github.event.action == 'opened'
    uses: ./.github/workflows/handle_opened_issue.yml
    with:
      org: ${{ inputs.org }}
      project_no: ${{ inputs.project_no }}
      target_slack_channel_url_pattern: ${{ inputs.target_slack_channel_url_pattern }}
    secrets:
      pat: ${{ secrets.pat }}
      slack_app_secret: ${{ secrets.slack_app_secret }}
  delegate_issue_closed:
    if: github.event_name == 'issues' && github.event.action == 'closed'
    uses: ./.github/workflows/handle_closed_issue.yml
    with:
      org: ${{ inputs.org }}
      project_no: ${{ inputs.project_no }}
      target_slack_channel_url_pattern: ${{ inputs.target_slack_channel_url_pattern }}
    secrets:
      pat: ${{ secrets.pat }}
      slack_app_secret: ${{ secrets.slack_app_secret }}
  delegate_issue_edited:
    if: github.event_name == 'issues' && github.event.action == 'edited'
    uses: ./.github/workflows/handle_edited_issue.yml
    with:
      org: ${{ inputs.org }}
      project_no: ${{ inputs.project_no }}
      target_slack_channel_url_pattern: ${{ inputs.target_slack_channel_url_pattern }}
    secrets:
      pat: ${{ secrets.pat }}
      slack_app_secret: ${{ secrets.slack_app_secret }}
  delegate_issue_labled:
    if: github.event_name == 'issues' && github.event.action == 'labeled'
    uses: ./.github/workflows/handle_labled_issue.yml
    with:
      org: ${{ inputs.org }}
      project_no: ${{ inputs.project_no }}
      target_slack_channel_url_pattern: ${{ inputs.target_slack_channel_url_pattern }}
    secrets:
      pat: ${{ secrets.pat }}
      slack_app_secret: ${{ secrets.slack_app_secret }}
  delegate_issue_commented:
    if: github.event_name == 'issue_comment' && (github.event.action == 'created' || github.event.action == 'edited')
    uses: ./.github/workflows/handle_issue_commented.yml
    with:
      org: ${{ inputs.org }}
      project_no: ${{ inputs.project_no }}
      target_slack_channel_url_pattern: ${{ inputs.target_slack_channel_url_pattern }}
    secrets:
      pat: ${{ secrets.pat }}
      slack_app_secret: ${{ secrets.slack_app_secret }}
